<header>

  <div id="header--container">


    <!-- BURGER Menu -->
    <div class="header--burger" [class.light]="isLight" [class.dark]="!isLight" (click)="changeMenuState()">

      <div class="header--burger__circle"></div>

      <div class="header--burger__wrapper" [ngClass]="{'open': isMenuOpened}">

        <span></span>
        <span></span>
        <span></span>
        <span></span>

      </div>


    </div>

    <!-- Logo -->
    <div class="logo">
      <a [routerLink]="['/']" (click)="closeMenu()">
        <div class="header--burger__circle"></div>
      </a>
    </div>

  </div>

</header>

<overlay-menu-effect [isOpen]="isMenuOpened">
  <ng-template overlayMenu>

    <span listItems (click)="closeMenu()"> <a [routerLink]="'/main'"> Home </a> </span>
    <span listItems (click)="closeMenu()"> <a [routerLink]="'/about'"> About </a> </span>
    <span listItems (click)="closeMenu()"> <a [routerLink]="'/gallery'"> Gallery </a> </span>
    <span listItems (click)="closeMenu()">Main</span>

  </ng-template>
</overlay-menu-effect>
