<footer class="footer__wrapper footer-category">
  <!-- <div class="footer-circle__right"></div> -->

  <!-- <div class="footer-circle__left"></div> -->

  <hovering-circle from="left-bottom" textPos="left" class="footer-circle__right">

    <i hIcon class="material-icons">sentiment_satisfied</i>

    <p hText>Lorem ipsum</p>

  </hovering-circle>


  <hovering-circle from="right-bottom" textPos="right" class="footer-circle__left">

    <i hIcon class="material-icons">sentiment_dissatisfied</i>

    <p hText>Lorem ipsum</p>

  </hovering-circle>

</footer>
