.footer {

  // footer__wrapper
  &__wrapper {
    position: relative;
    padding: 70px 20px 50px 20px;
    width: 100%;
    height: 200px;
    z-index: 5;
    box-sizing: border-box;
    text-align: center;
  }

  //TODO: change this
  // Only In Main Page
  // footer-category
  &-category {
    position: fixed;
    bottom: 0;
    pointer-events: none;
  }

  // footer-circle__right
  &-circle__right {
    position: fixed;
    right: 120px;
    bottom: 80px;
    height: 60px;
    width: 60px;
    padding: 10px;
    box-sizing: border-box;
    pointer-events: initial;
    z-index: 10;
    opacity: 1;
    // transform: scale(0.7);
    transition: all 0.4s cubic-bezier(0.68, 0, 0.265, 1) 0.2s;
  }

  // footer-circle__left
  &-circle__left {
    position: fixed;
    box-sizing: border-box;
    left: 120px;
    bottom: 80px;
    height: 60px;
    width: 60px;
    z-index: 10;
    pointer-events: initial;
    opacity: 1;
    transform: scale(0.7);
    transition: all 0.4s cubic-bezier(0.68, 0, 0.265, 1) 0.2s;
  }




}

// Responsive

@media only screen and (max-width: 1466px) {

  .footer {

    &-circle__left {
      left: 50px;
      bottom: 60px;
    }

    &-circle__right {
      right: 50px;
      bottom: 60px;
    }

  }

}

@media only screen and (max-width: 1024px) {

  .footer {

    &__wrapper {
      height: 170px;
    }

    &-circle__left {
      left: 40px;
      bottom: 40px;
    }

    &-circle__right {
      right: 40px;
      bottom: 40px;
    }

  }

}


@media only screen and (max-width: 767px) {

  .footer {

    &-circle__left {
      left: 30px;
      bottom: 30px;
    }

    &-circle__right {
      right: 30px;
      bottom: 30px;
    }

  }
}

@media only screen and (max-width: 479px) {
  .footer {

    &-circle__left {
      left: 20px;
      bottom: 30px;
    }

    &-circle__right {
      right: 20px;
      bottom: 30px;
    }

  }
}
