<scroll-effect>

  <ng-template scrollTitle>

    <overlay-text-effect>

      <div class="hero-title">
        <h1>{{backDrop.title}}</h1>
        <p>{{backDrop.description}}</p>
      </div>

    </overlay-text-effect>

  </ng-template>

  <ng-template scrollBackdrop>

    <mouse-move-effect class="backdrop-wrapper">

      <ng-template imageMouseEffect>

        <img class="backdrop-image" [src]="backDrop.imageUrl" alt="">

      </ng-template>

    </mouse-move-effect>

  </ng-template>


  <overlay-text-effect>
    <app-hero-content></app-hero-content>
  </overlay-text-effect>



</scroll-effect>
