<overlay-text-effect>

  <fade-scroll-wrapper>

    <fade-scroll-item>

      <app-gallery-card></app-gallery-card>

    </fade-scroll-item>

    <fade-scroll-item>

      <app-gallery-card></app-gallery-card>

    </fade-scroll-item>

    <fade-scroll-item>

      <app-gallery-card></app-gallery-card>

    </fade-scroll-item>

    <fade-scroll-item>

      <app-gallery-card></app-gallery-card>

    </fade-scroll-item>

    <fade-scroll-item>

      <app-gallery-card></app-gallery-card>

    </fade-scroll-item>

    <fade-scroll-item>

      <app-gallery-card></app-gallery-card>

    </fade-scroll-item>

    <fade-scroll-item>

      <app-gallery-card></app-gallery-card>

    </fade-scroll-item>

    <fade-scroll-item>

      <app-gallery-card></app-gallery-card>

    </fade-scroll-item>

    <fade-scroll-item>

      <app-gallery-card></app-gallery-card>

    </fade-scroll-item>

    <fade-scroll-item>

      <app-gallery-card></app-gallery-card>

    </fade-scroll-item>

    <fade-scroll-item>

      <app-gallery-card></app-gallery-card>

    </fade-scroll-item>

    <fade-scroll-item>

      <app-gallery-card></app-gallery-card>

    </fade-scroll-item>


  </fade-scroll-wrapper>

</overlay-text-effect>
