<scroll-effect>

  <ng-template scrollTitle>

    <overlay-text-effect>

      <div class="hero-title">
        <h1>About</h1>
        <p>ME</p>
      </div>

    </overlay-text-effect>

  </ng-template>

  <ng-template scrollBackdrop>

    <mouse-move-effect class="backdrop-wrapper">

      <ng-template imageMouseEffect>

        <img class="backdrop-image" src="../assets/bg.jpg" alt="">

      </ng-template>

    </mouse-move-effect>

  </ng-template>


  <overlay-text-effect>
    <app-about-content></app-about-content>
  </overlay-text-effect>



</scroll-effect>