<div class="gallery-card">

  <div class="gallery-card__shadow">
    <img [src]="gallery.imageUrl" alt="image Shadow">
  </div>

  <a [routerLink]="['/about']">

    <div class="gallery-card__image" [style.backgroundImage]="'url( '+ gallery.imageUrl+ ')'"></div>
    <div class="gallery-card__image_shadow"></div>

  </a>
  <div class="gallery-card__caption">

    <h2 class="gallery-card__title"> {{gallery.title}} </h2>

    <h3 class="gallery-card__sub">

      <span class="gallery-card__sub_text">
        {{gallery.description}}
      </span>

      <span class="gallery-card__sub_detail">
        View Detail
      </span>
    </h3>

  </div>

</div>
