<div class="about-content">

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quas beatae at voluptates numquam labore nemo
    consectetur fugiat voluptatum perspiciatis.
  </p>
  <br>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores at fugiat id est suscipit. Quisquam tempore
    repellat deserunt sunt placeat voluptates exercitationem hic assumenda! Ratione laboriosam tempore harum architecto
    amet at ab nobis molestias eius nihil cupiditate eveniet incidunt, dicta earum exercitationem recusandae aliquam
    explicabo beatae voluptatem corrupti odit assumenda.
  </p>
  <br>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ducimus aliquid eum temporibus repudiandae quo
    accusamus eius blanditiis, eligendi voluptate eaque tempora ab. In unde, aspernatur ad eos inventore neque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quas beatae at voluptates numquam labore nemo
    consectetur fugiat voluptatum perspiciatis.
  </p>
  <br>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores at fugiat id est suscipit. Quisquam tempore
    repellat deserunt sunt placeat voluptates exercitationem hic assumenda! Ratione laboriosam tempore harum architecto
    amet at ab nobis molestias eius nihil cupiditate eveniet incidunt, dicta earum exercitationem recusandae aliquam
    explicabo beatae voluptatem corrupti odit assumenda.
  </p>
  <br>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ducimus aliquid eum temporibus repudiandae quo
    accusamus eius blanditiis, eligendi voluptate eaque tempora ab. In unde, aspernatur ad eos inventore neque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quas beatae at voluptates numquam labore nemo
    consectetur fugiat voluptatum perspiciatis.
  </p>
  <br>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores at fugiat id est suscipit. Quisquam tempore
    repellat deserunt sunt placeat voluptates exercitationem hic assumenda! Ratione laboriosam tempore harum architecto
    amet at ab nobis molestias eius nihil cupiditate eveniet incidunt, dicta earum exercitationem recusandae aliquam
    explicabo beatae voluptatem corrupti odit assumenda.
  </p>
  <br>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ducimus aliquid eum temporibus repudiandae quo
    accusamus eius blanditiis, eligendi voluptate eaque tempora ab. In unde, aspernatur ad eos inventore neque?
  </p>

</div>
