/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 52px;
  margin: 10px 0px;
}

h3 {
  font-size: 24px;
  margin: 3px 0px;
}